<!-- TEXTSHOT TEXT INPUT -->
<textarea class="form-control textshot-textarea" placeholder="Type or paste text here..." rows="4" (keyup)="textShotTextAreaWasChanged()" [ngFormControl]="textShotInputControl" #textShotTextArea>
</textarea>

<br />
<!-- <br /> -->

<!-- TEXTSHOT PREVIEW, GENERATION, AND SHARING -->
<div *ngIf="textShotTextArea.value && (textShotTextArea.value.trim() !== '')">

  <div class="text-center textshot-preview-label">
    {{ previewText }}
  </div>

  <!-- STYLE TOOLBAR -->
  <br />

  <div class="style-toolbar">

    <div class="btn-toolbar" role="toolbar" aria-label="" class="text-center">

      <!-- FONT FAMILY, SIZE, AND COLOR -->
      <div class="btn-group style-toolbar-btn-group" role="group" aria-label="">

        <!-- FONT FAMILY -->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" [ngStyle]="{'font-family': textShot.styles['font-family']}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ textShot.styles['font-family'] }} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
          <ul class="dropdown-menu">
            <li *ngFor="let fontFamily of fontFamilies">
              <a href="#" (click)="textShot.styles['font-family'] = fontFamily ; regenerateTextShotImage()"><span [ngStyle]="{'font-family': fontFamily}">{{ fontFamily }}</span></a>
            </li>
          </ul>
        </div>

        <!-- FONT SIZE -->
        <!-- <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ textShot.styles['font-size'].replace('pt', '') }} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
          <ul class="dropdown-menu">
            <li *ngFor="let fontSize of fontSizes">
              <a href="#" (click)="textShot.styles['font-size'] = fontSize ; regenerateTextShotImage()"><span [ngStyle]="{'font-size': fontSize}">{{ fontSize.replace('pt', '') }}</span></a>
            </li>
          </ul>
        </div> -->

        <!-- <button type="button" class="btn btn-default"><i class="fa fa-font" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></button> -->

        <!-- FONT COLOR -->
        <button
            type="button"
            class="btn btn-default"
            [(colorPicker)]="textShot.styles.color"
            [cpPosition]="'top'"
            [cpOutputFormat]="'rgba'"
            [cpCancelButton]="true"
            [cpHeight]="'315px'"
            (colorPickerChange)="regenerateTextShotImage()">
          <span class="glyphicon glyphicon-text-color" [ngStyle]="{color: textShot.styles.color}" aria-hidden="true"> <i class="fa fa-caret-down" style='color: black;' aria-hidden="true"></i></span>
        </button>

        <!-- TEXTSHOT BACKGROUND COLOR -->
        <button
            type="button"
            class="btn btn-default"
            [(colorPicker)]="textShot.styles['background-color']"
            [cpPosition]="'top'"
            [cpOutputFormat]="'rgba'"
            [cpCancelButton]="true"
            [cpHeight]="'315px'"
            (colorPickerChange)="regenerateTextShotImage()">
          <span class="glyphicon glyphicon-text-background" [ngStyle]="{color: textShot.styles['background-color']}" aria-hidden="true"> <i class="fa fa-caret-down" style='color: black;' aria-hidden="true"></i></span>
        </button>

      </div>

      <!-- FONT STROKE/STROKE COLOR -->
      <!-- <div class="btn-group style-toolbar-btn-group" role="group" aria-label="Text Stroke">
        <button type="button" class="btn btn-default"><i class="fa fa-paint-brush" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-paint-brush" aria-hidden="true"></i><span class="glyphicon glyphicon-text-color" aria-hidden="true"></span> <i class="fa fa-caret-down" aria-hidden="true"></i></button>
      </div> -->

      <!-- FONT WEIGHT/EMPHASIS -->
      <div class="btn-group style-toolbar-btn-group" role="group" aria-label="Text Decoration">
        <button (click)="toggleBold() ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['font-weight'] === 'bold'}" type="button" class="btn btn-default"><i class="fa fa-bold" aria-hidden="true"></i></button>
        <button (click)="toggleItalic() ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['font-style'] === 'italic'}" type="button" class="btn btn-default"><i class="fa fa-italic" aria-hidden="true"></i></button>
        <button (click)="toggleUnderline() ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['text-decoration'] === 'underline'}" type="button" class="btn btn-default"><i class="fa fa-underline" aria-hidden="true"></i></button>
        <!-- <button (click)="toggleBold() ; regenerateTextShotImage()" type="button" class="btn btn-default"><i class="fa fa-strikethrough" aria-hidden="true"></i></button> -->
      </div>

      <!-- TEXT ALIGNMENT -->
      <div class="btn-group style-toolbar-btn-group" role="group" aria-label="Text Alignment">
        <button (click)="setTextAlignment('left') ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['text-align'] === 'left'}" type="button" class="btn btn-default"><i class="fa fa-align-left" aria-hidden="true"></i></button>
        <button (click)="setTextAlignment('center') ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['text-align'] === 'center'}" type="button" class="btn btn-default"><i class="fa fa-align-center" aria-hidden="true"></i></button>
        <button (click)="setTextAlignment('right') ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['text-align'] === 'right'}" type="button" class="btn btn-default"><i class="fa fa-align-right" aria-hidden="true"></i></button>
        <button (click)="setTextAlignment('justify') ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['text-align'] === 'justify'}" type="button" class="btn btn-default"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
      </div>

      <!-- SAVE DEFAULTS -->
      <!-- <div class="btn-group style-toolbar-btn-group" role="group" aria-label="Save Defaults">
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Save Settings</button>
      </div> -->

    </div>

  </div>

  <!-- TEXTSHOT PREVIEW DIV -->
  <div class="textshot-preview-container" [ngClass]="{'hidden': textShotIsGenerated}">
    <div id="textshot-div" class="textshot-preview" [ngStyle]="textShot.styles">
      {{ textShotTextArea.value }}
    </div>
  </div>

  <!-- GENERATED TEXTSHOT IMAGE -->
  <img [src]="textShotPNGUrl" [alt]="textShotText" class="textshot-img" *ngIf="textShotIsGenerated" />

  <!-- <div id="textshot-div-hi-res" class="textshot-preview textshot-hidden-hi-res-div">
    {{ textShotTextArea.value }}
  </div> -->

  <br />
  <br />

  <!-- SHARE/POST BUTTONS -->
  <div class="share-buttons text-center" *ngIf="textShotIsGenerated">

    <!-- HELP TEXT FOR IMAGE DOWNLOAD IF ON MOBILE -->
    <div class="text-center" *ngIf="onMobile">
      <p class="text-info"><i class="fa fa-info-circle" aria-hidden="true"></i> <strong>Hold down on your TextShot for a "long tap" to save it!</strong></p>

      <br />

    </div>

    <!-- DOWNLOAD BUTTON IF NOT ON MOBILE -->
    <span *ngIf="!onMobile">
      <!-- <a [href]="textShotPNGOctetUrl" class="btn btn-primary btn-lg" download="textshot.png">Download <i class="fa fa-download" aria-hidden="true"></i></a> -->
      <button type="button" class="btn btn-primary btn-lg" (click)="downloadTextShotImage()"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
    </span>

    <!-- TWEET -->
    <!-- <a href="" target="_blank" class="btn btn-lg btn-tweet" (click)="0"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</a> -->

    <!-- FACEBOOK -->
    <!-- <button type="button" class="btn btn-lg btn-facebook" (click)="0"><i class="fa fa-facebook-square" aria-hidden="true"></i> Share</button> -->

  </div>

</div>
