<!-- TEXTSHOT TEXT INPUT -->
<textarea class="form-control textshot-textarea" placeholder="Type or paste text here..." rows="4" (keyup)="textShotTextAreaWasChanged()" [ngFormControl]="textShotInputControl" #textShotTextArea>
</textarea>

<br />
<!-- <br /> -->

<!-- TEXTSHOT PREVIEW, GENERATION, AND SHARING -->
<div [ngClass]="{hidden: !(textShotTextArea.value && (textShotTextArea.value.trim() !== ''))}">

  <div class="text-center textshot-preview-label">
    {{ previewText }}
  </div>

  <!-- STYLE TOOLBAR -->
  <br />

  <div class="style-toolbar">

    <div class="btn-toolbar" role="toolbar" aria-label="" class="text-center">

      <!-- FONT FAMILY, SIZE, AND COLOR -->
      <div class="btn-group style-toolbar-btn-group" role="group" aria-label="">

        <!-- FONT FAMILY -->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" [ngStyle]="{'font-family': textShot.styles['font-family']}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ textShot.styles['font-family'] }} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
          <ul class="dropdown-menu">
            <li *ngFor="let fontFamily of fontFamilies">
              <a href="#" (click)="textShot.styles['font-family'] = fontFamily ; regenerateTextShotImage()"><span [ngStyle]="{'font-family': fontFamily}">{{ fontFamily }}</span></a>
            </li>
          </ul>
        </div>

        <!-- FONT SIZE -->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ textShot.styles['font-size'].replace('pt', '') }} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
          <ul class="dropdown-menu">
            <li *ngFor="let fontSize of fontSizes">
              <a href="#" (click)="textShot.styles['font-size'] = fontSize ; regenerateTextShotImage()"><span [ngStyle]="{'font-size': fontSize}">{{ fontSize.replace('pt', '') }}</span></a>
            </li>
          </ul>
        </div>

        <!-- <button type="button" class="btn btn-default"><i class="fa fa-font" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></button> -->

        <!-- FONT COLOR -->
        <button
            type="button"
            class="btn btn-default style-toolbar-color-btn"
            [(colorPicker)]="textShot.styles.color"
            [cpPosition]="'top'"
            [cpOutputFormat]="'rgba'"
            [cpCancelButton]="true"
            [cpHeight]="'315px'"
            (colorPickerChange)="regenerateTextShotImage()">
          <span class="glyphicon glyphicon-text-color" [ngClass]="{'bg-dark-white': tinyColor(textShot.styles.color).getLuminance() >= 0.75}" [ngStyle]="{color: textShot.styles.color}" aria-hidden="true"></span>&nbsp;<i class="fa fa-caret-down" style='color: black;' aria-hidden="true"></i>
        </button>

        <!-- FONT BACKGROUND COLOR -->
        <!-- INLINE BUTTON STYLE HAD TO BE HACKED IN BECAUSE FOR SOME REASON -->
        <!-- COLORPICKER SEEMS TO HAVE BROKEN ROUNDED CORNERS -->
        <button
            type="button"
            class="btn btn-default style-toolbar-color-btn"
            style="border-top-right-radius: 5px; border-bottom-right-radius: 5px;"
            (click)="showTextBackgroundHelp()"
            [(colorPicker)]="textShot.textBackgroundStyles['background-color']"
            [cpPosition]="'top'"
            [cpOutputFormat]="'rgba'"
            [cpCancelButton]="true"
            [cpHeight]="'315px'"
            (colorPickerChange)="regenerateTextShotImage()">
          <span class="glyphicon glyphicon-text-background" [ngClass]="{'bg-dark-white': tinyColor(textShot.textBackgroundStyles['background-color']).getLuminance() >= 0.75}" [ngStyle]="{color: textShot.textBackgroundStyles['background-color']}" aria-hidden="true"></span>&nbsp;<i class="fa fa-caret-down" style='color: black;' aria-hidden="true"></i>
        </button>

      </div>

      <!-- FONT STROKE/STROKE COLOR -->
      <!-- <div class="btn-group style-toolbar-btn-group" role="group" aria-label="Text Stroke">
        <button type="button" class="btn btn-default"><i class="fa fa-paint-brush" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-paint-brush" aria-hidden="true"></i><span class="glyphicon glyphicon-text-color" aria-hidden="true"></span> <i class="fa fa-caret-down" aria-hidden="true"></i></button>
      </div> -->

      <!-- FONT WEIGHT/EMPHASIS -->
      <div class="btn-group style-toolbar-btn-group" role="group" aria-label="Text Decoration">
        <button (click)="toggleBold() ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['font-weight'] === 'bold'}" type="button" class="btn btn-default"><i class="fa fa-bold" aria-hidden="true"></i></button>
        <button (click)="toggleItalic() ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['font-style'] === 'italic'}" type="button" class="btn btn-default"><i class="fa fa-italic" aria-hidden="true"></i></button>
        <button (click)="toggleUnderline() ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['text-decoration'] === 'underline'}" type="button" class="btn btn-default"><i class="fa fa-underline" aria-hidden="true"></i></button>
        <!-- <button (click)="toggleBold() ; regenerateTextShotImage()" type="button" class="btn btn-default"><i class="fa fa-strikethrough" aria-hidden="true"></i></button> -->
      </div>

      <!-- TEXT ALIGNMENT -->
      <div class="btn-group style-toolbar-btn-group" role="group" aria-label="Text Alignment">
        <button (click)="setTextAlignment('left') ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['text-align'] === 'left'}" type="button" class="btn btn-default"><i class="fa fa-align-left" aria-hidden="true"></i></button>
        <button (click)="setTextAlignment('center') ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['text-align'] === 'center'}" type="button" class="btn btn-default"><i class="fa fa-align-center" aria-hidden="true"></i></button>
        <button (click)="setTextAlignment('right') ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['text-align'] === 'right'}" type="button" class="btn btn-default"><i class="fa fa-align-right" aria-hidden="true"></i></button>
        <button (click)="setTextAlignment('justify') ; regenerateTextShotImage()" [ngClass]="{active: textShot.styles['text-align'] === 'justify'}" type="button" class="btn btn-default"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
      </div>

      <!-- IMAGES AND BACKGROUND COLOR -->
      <div class="btn-group style-toolbar-btn-group" role="group" aria-label="Text Alignment">

        <button (click)="addImagesShown = !addImagesShown" [ngClass]="{active: addImagesShown}" type="button" class="btn btn-default"><i class="fa fa-picture-o" aria-hidden="true"></i></button>

        <!-- TEXTSHOT BACKGROUND COLOR -->
        <!-- INLINE BUTTON STYLE HAD TO BE HACKED IN BECAUSE FOR SOME REASON -->
        <!-- COLORPICKER SEEMS TO HAVE BROKEN ROUNDED CORNERS -->
        <button
            type="button"
            class="btn btn-default style-toolbar-color-btn"
            style="border-top-right-radius: 5px; border-bottom-right-radius: 5px;"
            [(colorPicker)]="textShot.backgroundColorStyles['background-color']"
            [cpPosition]="'top'"
            [cpOutputFormat]="'rgba'"
            [cpCancelButton]="true"
            [cpHeight]="'315px'"
            (colorPickerChange)="regenerateTextShotImage()">
          <i class="fa fa-square" [ngClass]="{'bg-dark-white': tinyColor(textShot.backgroundColorStyles['background-color']).getLuminance() >= 0.75}" [ngStyle]="{color: textShot.backgroundColorStyles['background-color']}" aria-hidden="true"></i>&nbsp;<i class="fa fa-caret-down" style='color: black;' aria-hidden="true"></i>
        </button>

      </div>

      <!-- SETTINGS -->
      <div class="btn-group style-toolbar-btn-group pull-right" role="group" aria-label="Text Alignment">
        <button (click)="settingsShown = !settingsShown" [ngClass]="{active: settingsShown}" type="button" class="btn btn-default"><i class="fa fa-cog" aria-hidden="true"></i></button>
      </div>

      <!-- SAVE DEFAULTS -->
      <!-- <div class="btn-group style-toolbar-btn-group" role="group" aria-label="Save Defaults">
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Save Settings</button>
      </div> -->

    </div>

  </div>

  <!-- OPACITY HINT FOR TEXT BACKGROUND -->
  <!-- ONLY SHOWN ONCE -->
  <div style="margin-top: 5px; margin-bottom: 10px;" class="text-center" [ngClass]="{hidden: !(textBackgroundHelpVisible), animated: textBackgroundHelpVisible, rubberBand: textBackgroundHelpVisible}" style="-webkit-animation-delay: 2s; animation-delay: 2s;">
    <span class="text-info">
      <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
      For text background color, don't forget to change the opacity to see an effect!
    </span>
  </div>

  <!-- IMAGE UPLOAD -->
  <div class="add-images" [ngClass]="{hidden: !addImagesShown}">

    <!-- <br /> -->

    <h4>Add Image</h4>

    <form class="form-inline add-images-form">

      <label>Background Image</label>&nbsp;

      <span class="btn btn-default btn-file" (mouseenter)="showImageUploadDisclaimer = true">
        <i class="fa fa-upload" aria-hidden="true"></i> <span *ngIf="!onMobile">Upload Image</span> <span *ngIf="onMobile">Choose Image</span> <input type="file" accept="image/*" (change)="handleImageUpload($event)">
      </span>

      <!-- <span *ngIf="!onMobile">
        &nbsp;or&nbsp;

        <div class="upload-drag-acceptor" (mouseenter)="showImageUploadDisclaimer = true">
          Drag and drop image or image file
        </div>
      </span> -->

      &nbsp;

      <button *ngIf="textShot.backgroundImageStyles['background-image'] !== 'none'" (click)="handleClearImage()" class="btn btn-danger">Clear</button>

      <!-- <input [ngFormControl]="textShotBgImageUrlInputControl" class="form-control" type="url" placeholder="From URL" /> -->

    </form>

    <!-- BACKGROUND IMAGE SIZE, POSITION, OPACITY -->
    <form *ngIf="textShot.backgroundImageStyles['background-image'] !== 'none'" class="form-inline add-images-form">

      <label>Background Image Settings</label>&nbsp;

      Opacity &nbsp; <input (change)="textShot.backgroundImageStyles['opacity'] = backgroundImageOpacitySlider.value ; regenerateTextShotImage()" style="display: inline-block; width: 50px;" type="range" min="0" max="1" step ="0.05" value="1" #backgroundImageOpacitySlider />
      &nbsp;
      {{ backgroundImageOpacitySlider.value }}

    </form>

    <span [ngClass]="{hidden: !(showImageUploadDisclaimer)}" class="text-warning">&nbsp;<i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please ensure that you have copyright permission to use any images.</span>

  </div>

  <!-- ADVANCED SETTINGS -->
  <div [ngClass]="{hidden: !settingsShown}">

    <!-- <br /> -->

    <h4>Advanced Settings</h4>

    <form class="form">

      <div class="form-group">
        <div class="checkbox"><label><input type="checkbox" (change)="regenerateTextShotImage()" checked #includeCreatedWith> Include "Created with TS"</label></div>
      </div>

      <div class="form-group">
        <div class="checkbox"><label><input type="checkbox" (change)="regenerateTextShotImage()" #includeSource> Include source</label></div>
        <span [ngClass]="{hidden: !(includeSource.checked)}">
          <input type="text" class="form-control" placeholder="Type or paste in a source" (keyup)="regenerateTextShotImage()" #textShotSource>
        </span>
      </div>

      <div class="form-group">
        <div class="checkbox"><label><input type="checkbox" (change)="regenerateTextShotImage()" #includeURL> Include URL</label></div>
        <span [ngClass]="{hidden: !(includeURL.checked)}">
          <input type="url" class="form-control" placeholder="Type or paste in a URL" (keyup)="regenerateTextShotImage()" #textShotURL>
        </span>
      </div>

    </form>

    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nulla commodi minus ratione officia fugiat! Ullam at, porro veniam magni. Ut modi impedit consequuntur ex cumque quisquam nam reiciendis voluptates. -->

    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div> -->

    <!-- <br /> -->
    <!-- <br /> -->

  </div>

  <!-- TEXTSHOT PREVIEW DIV -->
  <div class="textshot-preview-container" [ngClass]="{'hidden': textShotIsGenerated}">
    <div id="textshot-div" class="textshot-preview" [ngStyle]="textShot.styles">

      <div class="textshot-background-color" [ngStyle]="textShot.backgroundColorStyles"></div>
      <div class="textshot-background" [ngStyle]="textShot.backgroundImageStyles"></div>
      <div class="textshot-content">
        <div class="textshot-text">
          <span [ngStyle]="textShot.textBackgroundStyles">{{ textShotTextArea.value }}</span>
        </div>

        <div class="textshot-extras">
          <div class="textshot-source" [ngClass]="{hidden: !(includeSource.checked)}">
            <span [ngStyle]="textShot.textBackgroundStyles">{{ textShotSource.value }}</span>
          </div>

          <div class="textshot-url" [ngClass]="{hidden: !(includeURL.checked)}">
            <span [ngStyle]="textShot.textBackgroundStyles">{{ textShotURL.value }}</span>
          </div>

          <div class="created-with" [ngClass]="{hidden: !(includeCreatedWith.checked)}">
            <span [ngStyle]="textShot.textBackgroundStyles">Created with TS - <span style="text-decoration: underline">http://j.mp/ts-textshots</span></span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- GENERATED TEXTSHOT IMAGE -->
  <img [src]="textShotPNGUrl" [alt]="textShotText" class="textshot-img" *ngIf="textShotIsGenerated" rel="share" />

  <!-- <div id="textshot-div-hi-res" class="textshot-preview textshot-hidden-hi-res-div">
    {{ textShotTextArea.value }}
  </div> -->

  <br />
  <br />

  <!-- SHARE/POST BUTTONS -->
  <div class="share-buttons text-center" *ngIf="textShotIsGenerated">

    <!-- HELP TEXT FOR IMAGE DOWNLOAD IF ON MOBILE -->
    <div class="text-center" *ngIf="onMobile">
      <p class="text-info"><i class="fa fa-info-circle" aria-hidden="true"></i> <strong>Hold down on your TextShot for a "long tap" to save it!</strong></p>

      <br />

    </div>

    <!-- DOWNLOAD BUTTON IF NOT ON MOBILE -->
    <span *ngIf="!onMobile">
      <!-- <a [href]="textShotPNGOctetUrl" class="btn btn-primary btn-lg" download="textshot.png">Download <i class="fa fa-download" aria-hidden="true"></i></a> -->
      <button type="button" class="btn btn-primary btn-lg" (click)="downloadTextShotImage()"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
    </span>

    <!-- TWEET -->
    <!-- <a href="" target="_blank" class="btn btn-lg btn-tweet" (click)="0"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</a> -->

    <!-- FACEBOOK -->
    <!-- <button type="button" class="btn btn-lg btn-facebook" (click)="0"><i class="fa fa-facebook-square" aria-hidden="true"></i> Share</button> -->

  </div>

</div>
