<!-- TEXTSHOT TEXT INPUT -->
<textarea class="form-control textshot-textarea" placeholder="Type or paste text here..." rows="4" (keyup)="textShotTextAreaWasChanged()" [ngFormControl]="textShotInputControl" #textShotTextArea>
</textarea>

<br />
<br />

<!-- TEXTSHOT PREVIEW -->
<div *ngIf="textShotTextArea.value">

  <div class="text-center textshot-preview-label">
    {{ previewText }}
  </div>

  <br />

  <!-- TEXTSHOT PREVIEW DIV -->
  <div id="textshot-div" class="textshot-preview" *ngIf="!textShotIsGenerated">
    {{ textShotTextArea.value }}
  </div>

  <!-- GENERATED TEXTSHOT IMAGE -->
  <img [src]="textShotPNGUrl" [alt]="textShotText" *ngIf="textShotIsGenerated" />

  <!-- <div id="textshot-div-hi-res" class="textshot-preview textshot-hidden-hi-res-div">
    {{ textShotTextArea.value }}
  </div> -->

</div>
